<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Black Belt Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="project">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Project Setup
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buttonclick">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Button Click
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buttonlink">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Button Link
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="buttonform">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Button Form
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="anchors">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Anchors
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="malformedelement">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Malformed Element
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simpleform">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Simple Form
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="advancedform">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Advanced Form
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multipleforms">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Multiple Forms
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="progressindicator">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Progress Indicator
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scrollposition1">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Scroll Position1
            </NavLink>
        </div>
 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scrollposition2">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Scroll Position2
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navigateto">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> NavigateTo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="onafterrender">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> OnAfterRender
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cascadingparameter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> CascadingParameter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scopedservice">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> ScopedService
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="passstate">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Pass State
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="viewstate1">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> ViewState1
            </NavLink>
        </div>
 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="viewstate2">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> ViewState2
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="serialization1">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Serialization1
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="serialization2">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Serialization2
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dualservice">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Dual Service
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prerendering">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Prerendering
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="javascript">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> JavaScript
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="authentication">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Authentication
            </NavLink>
        </div>
    </nav>
</div>

