@using System
@inject NavigationManager NavigationManager

<p><a href="/anchors/#anchor">Link to /anchors/#anchor</a></p>

<p><a href="#anchor">Link to #anchor</a></p>

<p><a href="javascript:window.location.hash='anchor'">Link to anchor using JavaScript</a></p>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<p><a id="anchor">Anchor</a></p>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


