@page "/"

<PageTitle>Black Belt Blazor</PageTitle>

<h1 class="text-center">Black Belt Blazor</h1>
<hr />

<p class="text-center">This project was created by Shaun Walker of <a href="https://devessence.com" target="_new">Devessence Inc</a> and demonstrates some of the differences between Interactive Blazor and Static Blazor</p>

<div class="row justify-content-center">
    <div class="col-8">
        <img class="img-fluid" src="blackbeltblazor.png" />
    </div>
</div>

<br /><hr />

<p class="text-center">Copyright (c) 2024 <a href="https://devessence.com" target="_new">Devessence Inc</a></p>
<p class="text-center">Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
<p class="text-center">The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
<p class="text-center">THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
