@page "/navigateto"
@inject AppState AppState

<PageTitle>Black Belt Blazor - NavigateTo</PageTitle>

<h1 class="text-center">NavigateTo</h1>
<hr />

<p class="text-center">NavigateTo crashes in Visual Studio in static rendering</p>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">@AppState.RenderMode</h2><br />
            <NavigateToInteractive @rendermode="@Utilities.GetRenderMode(AppState.RenderMode)" />
        </div>
        <div class="col">
            <h2 class="text-center">Static</h2><br />
            <NavigateToStatic />
        </div>
    </div>
</div>