@page "/onafterrender"
@inject AppState AppState

<PageTitle>Black Belt Blazor - OnAfterRender</PageTitle>

<h1 class="text-center">OnAfterRender</h1>
<hr />

<p class="text-center">OnAfterRender is not executed for static components</p>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">@AppState.RenderMode</h2><br />
            <OnAfterRenderInteractive @rendermode="@Utilities.GetRenderMode(AppState.RenderMode)" />
        </div>
        <div class="col">
            <h2 class="text-center">Static</h2><br />
            <OnAfterRenderStatic />
        </div>
    </div>
</div>

