@page "/progressindicator"
@inject AppState AppState

<PageTitle>Black Belt Blazor - Progress Indicator</PageTitle>

<h1 class="text-center">Progress Indicator</h1>
<hr />

<p class="text-center">Static rendering requires [StreamRendering] attribute</p>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">@AppState.RenderMode</h2><br />
            <ProgressIndicatorInteractive @rendermode="@Utilities.GetRenderMode(AppState.RenderMode)" />
        </div>
        <div class="col">
            <h2 class="text-center">Static</h2><br />
            <ProgressIndicatorStatic />
        </div>
    </div>
</div>

