@page "/scopedservice"
@inject AppState AppState

<PageTitle>Black Belt Blazor - ScopedService</PageTitle>

<h1 class="text-center">ScopedService</h1>
<hr />

<p class="text-center">Scoped services not available in interactive components after crossing render mode boundary</p>

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">@AppState.RenderMode</h2><br />
            <ScopedServiceInteractive @rendermode="@Utilities.GetRenderMode(AppState.RenderMode)" />
        </div>
        <div class="col">
            <h2 class="text-center">Static</h2><br />
            <ScopedServiceStatic />
        </div>
    </div>
</div>

